<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wedding.screen_interact.dao.MsgDao">


    <select id="getMsg" resultType="java.util.HashMap">
        select *
        from weixin_message
        where YXBZ = 'Y'
        order by msg_time
    </select>

    <update id="deleteMsg" parameterType="string">
        update weixin_message set YXBZ = 'N' where MSG_ID = #{msgId}
    </update>

</mapper>